info-sheet {
  .info-container {
    width: 100%;
    height: 100%;
    background-color: white;
    .text-address {
      font-size: 1.3rem!important;
     }
    .confirm-sheet {
      padding: 25px;
      padding-bottom: 15px;

      .sheet-title {
        align-items: center;
        color: #060606;
        font-size: 19px;
        font-weight: 800;
        display: table;
        justify-content: start;
        margin: 10px auto;
span{display:block; text-align: center}

        .truncate {
          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .title-icon {
          // padding-right: 15px;
          display: table;
          align-self: center;
          margin: 10px auto 20px;
          img{
            width:60px;
          }
        
        }
      }

      .sheet-text {
        font-size: 16px;
        color: rgb(46, 46, 46);
        font-weight: 300;
        padding: 10px 0px 25px;
        text-align: center;
      }

      .text-address {
        letter-spacing: 1px;
      }

      .sheet-btn-group {
        color: #69caa7;
        font-size: 16px;
        // border-top: 1px solid #ebebeb;
        cursor: pointer;
        display: flex;
        
        text-align: center;
        justify-content: center;

        $button-padding: 10px;flex-direction: column;

        .sheet-btn {
          color: #FFF;
          flex-grow: 1;
          padding-top: $button-padding;
          padding-bottom: $button-padding;
          // margin-right: 30px;
          font-weight:800;
          background: #fac239;
        border-radius: 30px;
        margin-bottom:10px;
        max-width: 300px;
        margin: 0 auto 10px;
        width: 100%;
        }

        .sheet-btn.blue {
          color: #FFF;
        }

        .sheet-btn.yellow {
          color: #FFF;
        }

        .sheet-btn.red {
          color: #FFF;
        }

        .sheet-second-btn {
          // background: #c11039;
          // color: #FFF;
          // padding-right: 10px; padding-left: 10px;
          // border-left: 1px solid #c17809;
          // border-top-right-radius: 30px;
          // border-bottom-right-radius: 30px;
          color: #c11039; font-weight: 800;
          padding-top: $button-padding;
        }

        .sheet-second-btn.primary {
          color:#c11039; font-weight: 800;
        }
      }
    }

    @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
      padding-bottom: 20px;
    }
  }
  info-sheet-template[type="info"] .sheet-btn, info-sheet-template[type="clipboard"] .sheet-btn {
  display: table;
  max-width: 200px;
  margin: 10px auto;
  width: 100%;} 
  info-sheet-template[type="notice"] .sheet-btn-group {
    flex-direction: row!important;
    .sheet-second-btn , .sheet-btn { width: 100%;}
  .sheet-second-btn {
    color: #FFF!important;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 800;
    background: #69caa7;
    border-radius: 30px;
    margin-bottom: 10px;
}}
}
