page-fee-policy {
  .explanation {
    margin: 1rem 0;
  }
  .description {
    margin: 1rem 0;
    font-size: 12px;
    color: color($colors, grey);
  }
  .estimates {
    padding-bottom: 10px;
  }
  .fee-minutes,
  .fee-rate {
    font-weight: bold;
  }
  .error {
    color: color($colors, danger);
  }
  ion-header.header.header-ios,
  ion-header.header.header-md {
    background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(#f79421),
      to(#fac239)
    );
    padding: 10px 0;
  }
  .toolbar-background-md {
    border-color: #b2b2b2;
    background: transparent;
  }
}
