page-tabs {
  .tabs-md .tabbar,  .tabs-ios .tabbar{
  padding: 7px 5px;}
//   .tabbar .tab-button:nth-of-type(1) .tab-button-icon,
//   .tabbar .tab-button:nth-of-type(5) .tab-button-icon {
//     margin-top: 1px;
//     margin-bottom: 5px;
// }
.tabs-ios .tabbar .tab-button-icon {
  height: 22px;
  margin-bottom: 10px;
}

@media screen and (max-width: 355px){
  .tabbar .tab-button{
    min-width: 65px;
  }
}

}
