page-topcoins {
  ul.market-table {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0px;
    padding-right: 20px;
    font-family: Montserrat;
    color: #000;
    font-size: 16px;
    transition: 0.5s ease;
    margin-bottom: 0px;
    margin-top: 0;
  }
  .segment-ios .segment-button.segment-activated {
    background-color: #161b26;
  }
  .segment-ios .segment-button,
  .segment-md .segment-button {
    border-color: #161b26;
    color: #161b26;
  }
  .segment-md .segment-button.activated,
  .segment-md .segment-button.segment-activated {
    border-color: #fff;
    color: #fff;
  }

  .toolbar-background-ios,
  .toolbar-background-md {
    background: transparent;
  }
  ion-header.header.header-ios,
  ion-header.header.header-md {
    background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(#f79421),
      to(#fac239)
    );
    padding: 10px 0;
  }
  .label-ios {
    margin: -1px auto 0;
  }
  .selecttitle {
    padding-left: 10px !important;
  }
  .toolbar-title-ios {
    padding-top: 0px;
  }

  ion-slide.swiper-slide {
    align-items: flex-start;
  }
  .num-market {
    color: #cecece;
    font-size: 16px;
    display: inline-block;
    float: left;
    padding-left: 10px;
    padding-top: 17px !important;
    padding-bottom: 10px !important;

    transition: 0.5s ease;
    line-height: 18px;
    width: 40x;
  }
  .market-link:first-of-type .num-market {
    opacity: 0; display:none;
  }
  .num-market span,
  ul.market-table li {
    line-height: 18px;
  }
  .market-table li {
    padding-top: 17px !important;
    padding-bottom: 0px !important;
  }
  .market-table li span {
    margin: 0 0;
  }
  a.market-link {
    color: #000;
  }
  .market-coinlogoblock {
    display: inline-block;
    float: left;
    transition: 0.5s ease; margin-right: 10px;
  }
  .item-ios,
  .item-md {
    padding-left: 0;
  }
  a.market-link:hover ul,
  a.market-link:hover .num-market,
  a.market-link:hover,
  a.market-link:hover .market-coinlogoblock {
    background: #f9eacc;
    text-decoration: none !important;
  }
  a.market-link:focus ul,
  a.market-link:focus .num-market,
  a.market-link:focus,
  a.market-link:focus .market-coinlogoblock {
    background: #f9eacc;
    text-decoration: none !important;
  }

  a.very-bearish-btn {
    border: 1px solid #e2446a;
    border-radius: 30px;
    color: #e2446a;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    display: block;
    padding: 3px 8px;
    transition: 0.5s ease;
    margin-top: -5px;
  }
  .subtextbtn {
    display: block;
    margin: 0 auto;
    font-size: 8px;
    font-weight: 300;
    line-height: 8px;
  }

  .bearish-btn {
    border: 1px solid #e8a2b3;
    border-radius: 30px;
    color: #e8a2b3;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    display: block;
    padding: 3px 8px;
    transition: 0.5s ease;
    width: 70px;
    float: right;
    line-height: 13px;
    margin-top: 0px;
  }
  .stable-btn {
    border: 1px solid #2d3340;
    border-radius: 30px;
    color: #2d3340;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    display: block;
    padding: 3px 8px;
    transition: 0.5s ease;
    width: 90px;
    float: right;
    line-height: 13px;
    margin-top: -5px;
  }
  .bullish-btn {
    border: 1px solid #8acf20;
    border-radius: 30px;
    color: #8acf20;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    display: block;
    padding: 3px 8px;
    transition: 0.5s ease;
    width: 70px;
    float: right;
    line-height: 13px;
    margin-top: 0px;
  }
  .very-bullish-btn {
    border: 1px solid #16ac0c;
    border-radius: 30px;
    color: #16ac0c;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    display: block;
    padding: 3px 8px;
    transition: 0.5s ease;
    width: 90px;
    float: right;
    line-height: 13px;
    margin-top: -5px;
  }

  .very-bearish-btn:hover {
    background: #e2446a;
    color: #fff;
    text-decoration: none;
  }
  .bearish-btn:hover {
    background: #e8a2b3;
    color: #fff;
    text-decoration: none;
  }
  .stable-btn:hover {
    background: #2d3340;
    color: #fff;
    text-decoration: none;
  }
  .bullish-btn:hover {
    background: #8acf20;
    color: #fff;
    text-decoration: none;
  }
  .very-bullish-btn:hover {
    background: #16ac0c;
    color: #fff;
    text-decoration: none;
  }

  #TOP20 {
    padding-left: 0px !important;
    font-weight: 600;
  }
  #TOP20 li:nth-of-type(2) {
    font-weight: 800;
  }
  a.market-link[href='DataFeed.html?currencyId=1653'] {
    display: block;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.05);
  }
  .market-table li:nth-of-type(2) {
    margin-left: 20px;
    margin-right: 10px;
    text-align: left!important;
    width: 150px;
   
  }
  @media screen and (max-width:350px){
    .market-table li:nth-of-type(2) {
      margin-left: 5px;
      margin-right: 5px;
      text-align: left!important;
      width: 100px;
      font-size:11px;
     
    }
  }
  .market-table li:nth-of-type(1) {width: 100px;}
.market-coinprice{ float:left;}
  .bordergreen {
    border-color: #8acf20 !important;
  }
  .borderred {
    border-color: #e8a2b3 !important;
  }
  .list-ios > .item-block:first-child{border-top-color: #000;}

  /*.loader{position: absolute;
    background: rgba(0,0,0,0.97);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 998;opacity: 1; transition: 1s ease; display:none; }
.logoloader{position: absolute;
animation: load 2s infinite;
 left: 50%; top: 50%; transition: 1s ease; transform: translate(-50%, -50%);}


@keyframes load {
  0%   {opacity: 0.0;}
  10%   {opacity: 0.2;}
  20%   {opacity: 0.4;}
  30%   {opacity: 0.6;}
  40%   {opacity: 0.8;}
  50%   {opacity: 1;}
  60%   {opacity: 0.8;}
  70%   {opacity: 0.6;}
  80%   {opacity: 0.4;}
  90%   {opacity: 0.2;}
  100%   {opacity: 0;}

}*/

  img[src='images/coins/{{p.BaseAsset}}.png'] {
    display: none;
  }
  .market-coinlogo {
    width: 22px;
    height: 22px;
    background: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
    border-radius: 30px;
    float: left;
    text-align: center;
   /* margin-top: 14px;*/
    margin-left: 8px;
  }
  .market-coinlogo img {
    max-width: 20px;
    border-radius: 30px;
    max-height: 20px;
    padding: 2px;
  }

  .market-coinlogo img[src='images/coins/TOP20.png'] {
    display: none;
  }

  a.market-link[href='DataFeed.html?currencyId=1653'] .market-coinlogo {
    display: none;
  }
  div.coinblock:last-of-type {
    margin-bottom: 100px;
  }

  .coinnameblock {
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 200px;
  }
  .loaderblock {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .searchbtn {
    padding: 0;
  }
  .searchbtn1 {
    padding: 0;
   /* background: #fff;*/
  }
  .searchbar-ios{background:transparent}
  .searchbar-ios .searchbar-input {
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
  }
  ::-webkit-input-placeholder {
    color: #FFF !important;
    }
    *:-moz-placeholder {
    color: #FFF!important;
    }
    *:-ms-input-placeholder {
    color: #FFF!important;
    }
    
    input::-webkit-input-placeholder {
    color:#FFF;
    }
  

  .searchbar-ios .searchbar-search-icon {
    left: 9px;
    top: 9px;
    background-image:url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2013%2013'><path%20fill='rgba(255,%20255,%20255,%200.5)'%20d='M5,1c2.2,0,4,1.8,4,4S7.2,9,5,9S1,7.2,1,5S2.8,1,5,1%20M5,0C2.2,0,0,2.2,0,5s2.2,5,5,5s5-2.2,5-5S7.8,0,5,0%20L5,0z'/><line%20stroke='rgba(255,%20255,%20255,%200.5)'%20stroke-miterlimit='10'%20x1='12.6'%20y1='12.6'%20x2='8.2'%20y2='8.2'/></svg>");
  }

  .searchbtn .label-ios {
    text-align: center;
    padding: 15px;
  }
  .searchbtn .label-md {
    text-align: center;
  }
  #stay-cancel {
    &.searchbar-has-value {
      .searchbar-clear-icon {
        display: block;
      }
    }
  }
  // #stay-cancel{
  //   &.searchbar{
  //     .searchbar-ios-cancel{
  //       display: block!important;
  //       padding-left:8px;margin-right: 0!important; opacity: 1!important;
  //     }
  //     span.button-inner {
  //       opacity: 1;
  //       display: block!important;
  //       color: #FFF;
  //       margin-top: 6px!important;
  //   }
  //   }
  // }

  /*.searchbar-ios .searchbar-input {
    height: 1.8rem;
  }
  .searchbar-ios {
    padding: 6px 8px;
  }*/

  
  .scroll-content {
    overflow-y: auto;
  }
  .select-ios {
    padding: 4px 8px 4px 16px;
    max-width: 100%;
    width: 100%;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-top: 5px;
  }
  .select-md {
    max-width: 100%;
  }
  .select-text{color:#FFF}
 .searchbtn1 .item-ios.item-block .item-inner{ border-bottom: none!important}
  /*.select-md .select-text {
    padding: 6px 0;

    border-radius: 2px;
    background-position: left 8px center;
    height: auto;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3rem;
    color: #141414;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
  }*/
  ion-select.select.select-md {
    padding: 6px 40px;
    border-radius: 2px;
    background-position: left 8px center;
    height: auto;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3rem;
    color: #141414;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
    margin-top: 15px;
  }
  .select-ios .select-icon {
    margin-right: 15px;
  }
  .segment-ios .segment-button.segment-activated .label-ios{ color:#FFF!important;}

  .scroll-content{
    background: #161b26!important;
    color: #fff !important;
  }
  .item-ios{background: transparent}
  .item-ios p{color:#fff!important;}
  .list-ios .item-block .item-inner {
    border-bottom: 0.55px solid #000;
  }
  .market-table li {color:#fff!important}

  ul.trader-title {
    justify-content: space-around;
    display: flex;
    list-style: none;
    padding: 0;
}

ul.trader-title li {font-size: 1.3rem}
ul.trader-title li:first-of-type{
  max-width: 120px;
  width:100%;
} ul.trader-title li:nth-of-type(2) {
  max-width: 100px;
  width:100%;
}
ul.trader-title li:nth-of-type(7){max-width: 25px;
  width:100%;}
ul.trader-title li:nth-of-type(6), ul.trader-title li:nth-of-type(5), ul.trader-title li:nth-of-type(4) {
  max-width: 25px;
  width:100%; padding:0 5px; font-size:1rem;
}
ul.trader-title li:nth-of-type(3){
  padding:0 5px; font-size:1rem;
}

ul.trader-title.first{
  border-bottom: 1px solid #ccc;
  margin:5px auto 5px; 
}ul.trader-title.first{ text-align: center;font-weight: 900;font-size:1rem;}


 .settings-button.bar-buttons.bar-buttons-ios {


  max-width: 20%;

  
  .select-ios {
    padding: 4px 4px 4px 4px;
    max-width: 100%;
    width: 100%;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-top: 0px;
  }
  .select-ios .select-icon {
    margin-right: 4px;
}
.select-text{
  width:100%;
  font-size:1rem; color:#FFF;
}
.select-ios .select-icon .select-icon-inner{color:#FFF;}
}

ion-navbar{
  .searchbar-ios {
    padding: 0px 8px!important;
    min-height: 20px!important; -webkit-transition: ease .5s; }
}

.item-ios.item-block .item-inner{padding-left:8px}

.ontop{margin-bottom:0; color:#fff; border-top:1px solid #FFF;    margin-bottom: -10px; 
  font-weight: 900;font-size:1rem; }
  ul.trader-title.ontop li{text-align:center}

  ul.trader-title.ontop li:nth-of-type(2), ul.trader-title.first li:nth-of-type(2){text-align:left;}
  .searchbtn1s .item-ios.item-block .item-inner{border-bottom:none!important}

  img.mooncather {
    display: block !important;
    margin: 0px auto 0 !important;
    width: 80px !important;
  }

  .ionic-selectable {
       max-width: 100%;
    border: 1px solid #fff;
    border-radius: 5px; font-size:1rem;
}
.settings-button.bar-buttons.bar-buttons-ios .item-inner{border: none!important}

.item:not(.item-label-stacked):not(.item-label-floating) .ionic-selectable-ios .ionic-selectable-value {
  padding-left: 5px!important;
}
.ionic-selectable-value{padding-left: 5px!important;}
.ionic-selectable-icon {
 
  display: none;}


  .nofound {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
.nofound h1{margin-bottom: 20px;}

.nofound img{max-width:100%; opacity: 1}
  
ul.trader-title.ontop li, ul.trader-title.first li {
  white-space: nowrap;
}


}
