page-clipboard-card {
  .clipboard-paypro-container {
    height: 6.5rem;
    ion-note {
      text-align: end;
      .amount {
        color: color($colors, dark);
      }
      .date {
        font-size: 12.5px;
      }
    }
    .item-inner {
      border-bottom: none !important;
    }
    .loader {
      width: 100%;
      height: 18px;
      margin-bottom: 6px;
      background-color: #f3f3f3;
      position: relative;
    }
    .loader-subtitle {
      width: 50%;
      height: 10px;
    }
    .loader:after {
      content: '';
      position: absolute;
      display: block;
      height: 100%;
      background-color: #e9e9e9;
      left: 0%;
      right: 100%;
      animation: loading 1s ease infinite;
    }

    .loader.gradient {
      background-image: linear-gradient(to right, #f3f3f3, #e9e9e9);
    }
    .loader.gradient:after {
      background-color: #e8e8e8;
    }

    @keyframes loading {
      0% {
        left: 0;
        right: 100%;
      }
      50% {
        left: 0;
        right: 0;
      }
      100% {
        left: 100%;
        right: 0;
      }
    }
  }
  .clipboard {
    padding: 5px 10px 2px 15px !important;
    ion-label {
      background-color: color($colors, light);
      padding: 10px 8px;
      margin: 0;
      border-radius: 3px;
    }
    .ellipsis {
      font-size: 13px;
      margin-left: 5px;
    }
    .item-inner {
      border-bottom: none !important;
    }
    img {
      width: 23px;
      height: 16px;
      float: left;
      margin-left: 5px;
      margin-right: 10px;
      padding-right: 10px;
      border-right: 1px solid rgba(0, 0, 0, 0.07);
    }
  }
  .item-subtitle{text-align:left!important; width:100%}
  button.paynowBtn {
    width: 95%;
    line-height: 40px;
    font-size: 2rem;
    border-radius: 0px 0px 20px 20px;
    // background:linear-gradient(45deg, #009688, #4CAF50);
    background:  -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(#f79421),
      to(#fac239)
    );box-shadow:0 0 3px rgba(0,0,0,0.35);
    // margin-bottom: 25px;
    display: block; margin: 0 auto;
    ion-icon.icon.icon-ios {
      margin-top: -6px;
      margin-right: 7px;
  }
 
} 
ion-item.clipboard-paypro-container.item.item-block.item-ios{
  display: block; margin: 0 auto!important; width: 95%;box-shadow:0 0 3px rgba(0,0,0,0.35);
  // background:#3e6f66!important; color:#FF!important;
}
ion-item-divider.item.item-divider.item-ios.item-divider-ios, .card .item-block{
    display: block; margin: 0 auto; width: 95%;
  }
  
}
