page-home {
  background: $toolbar-background;

 .refresherclass{
    top: 50px!important;
}
.card.clipboard-card{
  ion-item-divider.item.item-divider.item-ios.item-divider-ios{
    box-shadow:0 0 3px rgba(0,0,0,0.35);
    margin: 10px auto 0!important; width: 95%;
    // background:#3e6f66!important;
    // border-bottom: 0.55px solid #234222; color:#FFF!important;
  }
 
}
.settingIcon{max-width:20px; img{opacity: 1!important;}}
.backupNew{
  display: block;
  color: red;
  font-size: 10px;
  line-height: 25px;    
  float: left;
    .backupIcon{width:25px; margin-left: 5px;float: right}
}

p.totalTExt {
  margin-top: -20px;
  margin-bottom: 0;
  color: #f0ae20;
    font-weight: 900;
    text-transform: uppercase;

}
p.totalTExt::before {
    display: none;
    content: "";
    width: 45px;
    height: 1px;
    background: #d0d0d0;
    line-height: 1;
    margin-left: 0px;
    margin-top: 9px;
    float: left;transition: 0.5s ease;
}
p.totalTExt::after {
  display: none;
  content: "";
  width: 45px;
  height: 1px;
  background: #d0d0d0;
  line-height: 1;
  margin-left: 0px;
  margin-top: 9px;
  float: right; transition: 0.5s ease;
}
.hideafter::after, .hideafter::before{opacity:0; width:0px!important; display:none;}
  .scroll-content .wrapper {
    min-height: auto;
  }
  .scroll-content {
    overflow-x: auto;
  }

  .item-title {
    width: 60%;
    float: left;
    padding-top: 5px;
    font-size: 1.4rem;
    font-weight: 900;
  }
  .item-subtitle {
    text-align: right;
    padding-top: 5px;
  }
  .item-subtitle ion-icon {
   
    margin-left: 0px;
    margin-right: 10px;
  }
  .home-header {
    .add-button {
      margin-left: 1rem;
      ion-icon {
        font-size: 3rem;
      }
    }
    .settings-button {
      margin-right: 1rem;
      img {
        opacity: 0.6;
      }
    }
    .home-logo {
      height: 24px;
      position: relative;
      top: 3px;
    }
  }
  /*header background*/
  .scroll-content {
    /*background: #fff !important;*/
    margin-bottom: 46px !important;
    margin-top: 43px !important;
  }

  .action-card__header .icon-wallet {
    background: #fac239 !important;
  }

  .balance-block {
    background: #fff;
    display: block;
    color: #667;
    width: 85%;
    border-radius: 15px;
    margin-top: 15px;
    text-align: center;
    box-shadow: 0 0px 11px rgba(0, 0, 0, 0.2);
    z-index: 999999999;
    margin-bottom: -10px;
    padding-top: 27px;
  }
  .balance-block h2 {
    font-size: 1rem;
  }
  .balance-block h3 {
    font-size: 3.2rem;
    font-weight: 600;
    font-family: Montserrat;
  }
  @media screen and (max-width: 768px) {
    .balance-block h3,
    .balance-block h2 {
      font-size: 2.8rem;
      white-space: nowrap;
      margin-top: 4px!important;
    }
  }

  @media screen and (max-width: 330px) {
    .balance-block h3,
    .balance-block h2 {
      font-size: 2.2rem;
      white-space: nowrap;
      line-height: 4.3rem; margin-top: 0px!important;
    }
  }

  @supports (-webkit-overflow-scrolling: touch) {
    .header-extend{margin-top: 7px!important}
    .card:first-of-type{margin-top: 140px!important}
    .wallets-container:first-of-type{margin-top: 140px!important}
    .wrapper{margin-top: 140px!important}
   }
 
   @media screen and (max-width:415px){
     @supports (-webkit-overflow-scrolling: touch) {
       .header-extend{margin-top: 5px!important}
       .card:first-of-type{margin-top: 175px!important}
       .wallets-container:first-of-type{margin-top: 175px!important}
       .wrapper{margin-top: 175px!important}
      }
   }
  span.altbalance {
    display: block;
    font-size: 1rem;
  }
  .header-extend {
    background: #f9b432;
    height: 100px;
    margin-top: 0px;
    position: static;
  }

  .toolbar-title-ios {
    text-align: center;
  }
  .card {
    width: 100%;
    margin: 5px auto;
    border-radius: 0;
  }
  .toolbar-background-ios,
  .toolbar-background-md {
    /*background: linear-gradient(to top, #f79421, #fac239);*/
    background: transparent;
  }
  .card:first-of-type {
    z-index: 1;
    position: relative;
    // margin-top: 125px;
  }
  .toolbar.toolbar-ios .title-ios .toolbar-title-ios,
  .toolbar.toolbar-md .title-md .toolbar-title-md {
    font-family: 'Montserrat';
  }
  #ion-diagnostics-toast {
    background: #fac239;
  }
  .fixed-content {
    background-image: linear-gradient(to top, #f79421, #fac239) !important;
  }
  .scroll-content {
    background: #fff;
  }
  page-home ion-refresher {
    // background: #f7b854 !important;
    background: transparent!important;
  }
  .refresherclass {
    background: transparent!important;
    ion-spinner.spinner.spinner-ios.spinner-ios-ios{display: none}
  }
  .refresher-pulling-icon,
  .refresher-refreshing-icon {
    color: #060606;
  }
  .fab-md-primary {
    background: #000;
  }
  .fab-ios-primary {
    background: #000;
  }
  page-home .card .wallets-list-title > span,
  page-home ion-card .wallets-list-title > span,
  .card .input-wrapper {
    font-family: Montserrat;
  }
  page-home .card .wallets-list-title > span,
  page-home ion-card .wallets-list-title > span {
    font-family: Montserrat;
  }
  .title.wallets-list-title {
    font-family: Montserrat;
  }

  .label-ios {
    margin: 0px 8px 0px 0;
  }
  .icon-wallet {
    border-radius: 30px;
    background: #fff !important;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
  }
  ion-spinner {
    * {
      stroke: black !important;
    }

    &.spinner-circles circle,
    &.spinner-bubbles circle,
    &.spinner-dots circle {
      fill: black !important;
    }
  }

  .card,
  ion-card {
    .wallets-list-title {
      display: flex;
      align-items: center;
      max-width: 70%;

      > img {
        margin-right: 7px;
      }

      > span {
        line-height: 18px;
      }
    }

    .title-buttons {
      display: flex;

      button:first-child {
        margin-right: 5px;
      }
    }
  }

  .title {
    font-weight: 500;

    > img {
      margin-right: 7px;
    }
  }

  .error {
    color: color($colors, danger);
  }

  page-wallet-activity,
  page-txp {
    @media (max-width: 350px) {
      .item-title {
        font-size: 13px;
      }

      ion-note .date {
        font-size: 11.5px;
      }
    }
  }

  page-txp:first-child,
  page-wallet-activity:first-child {
    & .item-ios {
      border-top: 0.55px solid #f4f4f4;
    }
  }

  page-txp:last-child,
  page-wallet-activity:last-child {
    border: 0;

    & .item-inner {
      border: 0 !important;
    }
  }

  .card {
    z-index: 1;
    position: relative;
  }

  .clipboard-card {
    z-index: 0;
  }

  .initial-margin {
    margin-top: -140px;
  }

  .content-animation {
    z-index: 5;
    margin-top: 0px;
    -webkit-transition: margin-top 0.7s cubic-bezier(1, 0, 0.93, 0.19) 0.2s;
    -moz-transition: margin-top 0.7s cubic-bezier(1, 0, 0.93, 0.19) 0.2s;
    -o-transition: margin-top 0.7s cubic-bezier(1, 0, 0.93, 0.19) 0.2s;
    transition: margin-top 0.7s cubic-bezier(1, 0, 0.93, 0.19) 0.2s;
    animation-name: bounce-card;
    animation-duration: 0.7s;
    animation-delay: 0.8s;
  }

  ion-refresher {
    height: 65px;
    // background: #f7b854;
    background: transparent;

    &-content {
      margin-top: 25px;
    }
  }
  .refresher-refreshing-icon{display:none}
  .server-message {
    padding-bottom: 0px;

    &-header {
      padding: 0px;
      text-align: center;

      .row {
        justify-content: flex-end;

        button {
          font-size: 12px;
        }
      }
    }

    &-content {
      padding: 2rem 0rem 0rem 0rem;
    }

    &-icon {
      display: flex;
      justify-content: center;

      img {
        width: 4rem;
        height: 4rem;
      }
    }

    &-title {
      text-align: center;
      font-size: 1.8rem;
      font-weight: bold;
      margin-top: 1rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    .title {
      color: color($colors, grey);
      font-weight: 500;
      font-size: 2rem;

      &-info {
        color: color($colors, info);
      }

      &-critical {
        color: color($colors, warning);
      }
    }

    &-body {
      color: color($colors, grey);
      text-align: center;
      white-space: normal;
      margin-bottom: 1rem;
      font-size: 1.6rem;
      padding: 1rem 2rem 1rem 2rem;
    }

    &-button {
      cursor: pointer;
      font-size: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: color($colors, light);
      color: color($colors, dark);
      height: 5rem;
    }
  }

  .no-header {
    margin-top: 2.6rem;
  }

  .section-header {
    text-transform: uppercase;
    font-size: 13px;
  }

  // Styles for gift cards and Bitpay cards
  .sliding-container {
    border-radius: 5px;
    display: block;
    height: 73px;
    margin: 15px auto;
    border-bottom: 1px solid #eae9e9;
  }

  ion-item-sliding.item-wrapper {
    $gift-card-item-side-padding: 4%;
    $gift-card-item-height: 50px;

    background: none;
    // height: $gift-card-item-height + 14px;
    // padding-left: $gift-card-item-side-padding;
    // padding-right: $gift-card-item-side-padding;

    .action {
      &.button.button-default {
        padding: 0;
      }

      &--receive {
        background-color: #3963fa;

        &.activated,
        &:hover:not(.disable-hover) {
          background-color: #e8f4f7;
        }
      }

      &--send {
        background-color: #fac239;;

        &.activated,
        &:hover:not(.disable-hover) {
          background-color: #e9ebf9;
        }
      }
     

      &__icon {
        img {
          height: 25px;
        }
      }

      &__text {
        color: #FFF;
        font-size: 12px;
        font-weight: 500;
        margin-top: 3px;
      }
    }

    &.wallets {
      button.item.item-block {
        border-left: 8px solid;
        div.item-inner {
          display: flex;
          align-items: center;
        }
      }
    }

    ion-item-options {
      border-bottom: 0;
      padding-right: $gift-card-item-side-padding;
      height: $gift-card-item-height;

      button.button {
        border-radius: 5px;
        font-weight: 400;
        padding: 15px;
        width: 60px;
    margin-left: 5px;

        .archive {
          &__icon {
            font-size: 20px;
            margin-top: -1px;
          }

          &__text {
            font-size: 13px;
          }
        }
      }
    }

    button.item.item-block {
      // font-size: 16px;
      // border-radius: 5px;
      // box-shadow: 0 7px 11px 0 rgba(0, 0, 0, 0.06);

      .item-inner {
        // border: 0;
        // height: $gift-card-item-height;

        ion-label {
          &.label-ios,
          &.label-md {
            // display: flex;
            // height: $gift-card-item-height;
            // align-items: center;
            // margin: 0;
          }
        }
      }
    }
  }

  .bitpay-card {
    .card-item {
      button {
        background: linear-gradient(45deg, #202036 -25%, #1a3b8b);

        .item-inner .input-wrapper {
          padding-left: 5px;
          margin-right: 5px;
          min-width: 7.5rem;
        }

        ion-label img {
          width: 7.5rem;
        }

        ion-note {
          text-align: right;
          color: white;
          line-height: 22px;

          .funds {
            font-size: 16px;
          }

          .number {
            opacity: 0.5;
            font-size: 14px;
          }
        }
      }
    }
  }

  .add-card-button {
    @include center;
    border-radius: 5px;
    color: #060606;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    border: 1px dashed rgba(109, 109, 109, 0.27);
    width: 92%;
    margin: 15px auto;
    height: 73px;
  }

  @include fix-ios-bg-scroll();

  ion-fab {
    ion-icon.icon {
      font-size: 0;
    }
  }

  @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    ion-fab[right] {
      right: env(safe-area-inset-bottom);
    }

    ion-fab[bottom] {
      bottom: env(safe-area-inset-bottom);
    }
  }

  @keyframes bounce-card {
    0% {
      transform: translateY(0);
    }

    10% {
      transform: translateY(0);
    }

    30% {
      transform: translateY(40px);
    }

    50% {
      transform: translateY(0);
    }

    57% {
      transform: translateY(5px);
    }

    64% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(0);
    }
  }
  .wrapper {
    background: transparent !important;
  }
  .item-ios {
    color: #fff !important;
  }
  .item-block {
    border-color: #000 !important;
  }
  .card {
    background: transparent !important;
  }
  .scroll-content {
    background: #161b26 !important;
    color: #fff !important;
  }
  .item-ios {
    background: transparent;
  }
  .item-ios p {
    color: #fff !important;
  }
  .list-ios .item-block .item-inner {
    border-bottom: 0.55px solid #000;
  }
  .refbalance {
    background: #fac239;
    padding: 0 10px;
    border-radius: 10px;
    color: #fff;
  }

  .nowalletbalance {
    margin-top: 0 !important;
  }
}
.tabs-md[tabsLayout='icon-top'] .has-icon .tab-button-text {
  font-family: Montserrat !important;
}
.tabbar .tab-button .tab-button-text {
  font-family: Montserrat !important;
}
img.commingsoonimg {
  display: block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  opacity: 0.6;
}
page-home {
  ion-content {
    &.content-ios,
    &.content-md {
      background: $feather;
    }

    &.content-md {
      .margin-helper {
        width: 100%;
        padding-bottom: 7.5rem;
      }
    }

    .scroll-content {
      padding-bottom: 100px;
    }
  }

  .toolbar-background {
    background: none;
  }

  .blur {
    filter: blur(12px);
  }

  .home-header {
    .notifications-badge {
      border-radius: 9px;
      font-size: 15px;
      padding: 3px 7px;
      padding-top: 4px;
      font-weight: 600;
      margin-right: 5px;
    }

    .settings-button {
      margin-right: 1rem;

      img {
        opacity: 0.6;
      }
    }

    button.add {
      img {
        margin-left: 7px;
        padding-bottom: 5px;
      }
    }

    .toolbar-content {
      ion-title {
        &.title-ios {
          padding: 0 50px 1px;
        }
      }
    }

    .fix-margin {
      max-width: 70%;
      margin-right: 4rem;
    }

    .home-logo {
      height: 24px;
      position: relative;
      top: 3px;
    }
  }

  .toolbar-title-ios {
    text-align: center;
  }

  .wallets-list {
    margin-top: 12px;
  }

  .title {
    font-weight: 500;

    > img {
      margin-right: 7px;
    }
  }

  .error {
    color: color($colors, danger);
  }

  page-wallet-activity,
  page-txp {
    @media (max-width: 350px) {
      .item-title {
        font-size: 13px;
      }

      ion-note .date {
        font-size: 11.5px;
      }
    }
  }

  page-txp:first-child,
  page-wallet-activity:first-child {
    & .item-ios {
      border-top: 0.55px solid #f4f4f4;
    }
  }

  page-txp:last-child,
  page-wallet-activity:last-child {
    border: 0;

    & .item-inner {
      border: 0 !important;
    }
  }

  .clipboard-card {
    z-index: 0;
  }

  .initial-margin {
    margin-top: -140px;
  }

  .content-animation {
    z-index: 5;
    margin-top: 0px;
    -webkit-transition: margin-top 0.4s cubic-bezier(1, 0, 0.93, 0.19) 0.1s;
    -moz-transition: margin-top 0.4s cubic-bezier(1, 0, 0.93, 0.19) 0.1s;
    -o-transition: margin-top 0.4s cubic-bezier(1, 0, 0.93, 0.19) 0.1s;
    transition: margin-top 0.4s cubic-bezier(1, 0, 0.93, 0.19) 0.1s;
    animation-name: bounce-card;
    animation-duration: 0.4s;
    animation-delay: 0.5s;
  }

  ion-refresher {
    // height: 120px;

    &-content {
      margin-top: -25px;
    }
  }

  .server-message {
    padding-bottom: 0px;

    &-header {
      padding: 0px;
      text-align: center;

      .row {
        justify-content: flex-end;

        button {
          font-size: 12px;
        }
      }
    }

    &-content {
      padding: 2rem 0rem 0rem 0rem;
    }

    &-icon {
      display: flex;
      justify-content: center;

      img {
        width: 4rem;
        height: 4rem;
      }
    }

    &-title {
      text-align: center;
      font-size: 1.8rem;
      font-weight: bold;
      margin-top: 1rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    .title {
      color: color($colors, grey);
      font-weight: 500;
      font-size: 2rem;

      &-info {
        color: color($colors, info);
      }

      &-critical {
        color: color($colors, warning);
      }
    }

    &-body {
      color: color($colors, grey);
      text-align: center;
      white-space: normal;
      margin-bottom: 1rem;
      font-size: 1.6rem;
      padding: 1rem 2rem 1rem 2rem;
    }

    &-button {
      cursor: pointer;
      font-size: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: color($colors, light);
      color: color($colors, dark);
      height: 5rem;
    }
  }

  .no-header {
    margin-top: 2.6rem;
  }

  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #a8a8a8;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 20px;
    .key-name {
      white-space: normal;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-clamp: 2;
      -webkit-line-clamp: 2;
      box-orient: vertical;
      -webkit-box-orient: vertical;
      margin-right: 12px;
    }
  }

  .add-card-button {
    @include center;
    background: #f4f5fb;
    color: #5f7bf7;
    border-radius: 7px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    width: 92%;
    margin: 15px auto;
    margin-top: 0;
    height: 73px;
  }

  // Styles for gift cards and Bitpay cards
  .sliding-container {
    border-radius: 5px;
    display: block;
  }

  .wallets ion-item-sliding.item-wrapper {
    button.item.item-block .item-inner {
      align-items: start;
    }
  }

  .wallets ion-item-sliding.reorder-active {
    box-shadow: none;

    button.item.item-block {
      box-shadow: 0 5px 18px 0 rgba(0, 0, 0, 0.06);
      transform: scale3d(1.05, 1.05, 1.05);
      transition: box-shadow 300ms ease, transform 300ms ease;
    }
  }

  ion-item-sliding.item-wrapper {
    $gift-card-item-side-padding: 4%;
    $gift-card-item-height: 59px;

    background: none;
    padding-left: $gift-card-item-side-padding;
    padding-right: $gift-card-item-side-padding;

    ion-item-options {
      border-bottom: 0;
      margin-top: 1px;
      height: $gift-card-item-height + 16px;

      &[side*='right'] {
       // padding-right: $gift-card-item-side-padding;
       padding-right: 0!important;
      }

      &[side*='left'] {
       // padding-left: $gift-card-item-side-padding;
       padding-left:0!important;
      }

      button.button {
        border-radius: 5px;
        font-weight: 400;
        min-width: 73px;
        padding: 15px;

        .archive {
          &__icon {
            font-size: 20px;
            margin-top: -1px;
          }

          &__text {
            font-size: 13px;
          }
        }
      }
    }

    button.item.item-block {
      font-size: 16px;
      box-shadow: 0 5px 18px 0 rgba(0, 0, 0, 0.03);

      .item-inner {
        height: $gift-card-item-height + 16px;

        ion-label {
          &.label-ios,
          &.label-md {
            display: flex;
            height: $gift-card-item-height;
            align-items: center;
            margin: 0;
          }
        }
      }
    }
  }

  ion-item-sliding.card-item-sliding {
    padding-bottom: 1rem;

    button.item.item-block {
      border-radius: 5px;

      .item-inner {
        border: 0;
      }
    }
  }

  .bitpay-card {
    .card-item {
      button {
        background: linear-gradient(45deg, #202036 -25%, #1a3b8b);

        .item-inner .input-wrapper {
          padding-left: 5px;
          margin-right: 5px;
          min-width: 7.5rem;
        }

        ion-label img {
          width: 7.5rem;
        }

        ion-note {
          text-align: right;
          color: white;
          line-height: 22px;

          .funds {
            font-size: 16px;
          }

          .number {
            opacity: 0.5;
            font-size: 14px;
          }
        }
      }
    }
  }

  .scan-button {
    position: absolute;
    z-index: 9;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 27px 22px 26px 19px;
    border-radius: 30px;
    box-shadow: 0 7px 31px 0 rgba(0, 0, 0, 0.17);
    color: white;
    font-weight: 500;

    ion-avatar {
      margin-top: -3px;
      margin-right: 10px;
    }
  }

  ion-fab {
    ion-icon.icon {
      font-size: 0;
    }

    width: 100px;
    border-radius: 30px;

    button {
      padding: 0px 50px 0px 55px;
      border-radius: 30px;

      .fab-text {
        margin-left: 5px;
        font-weight: 500;
        font-size: 16px;
      }
    }
  }

  @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    ion-fab[right] {
      right: env(safe-area-inset-bottom);
    }

    ion-fab[bottom] {
      bottom: env(safe-area-inset-bottom);
    }
  }

  @keyframes bounce-card {
    0% {
      transform: translateY(0);
    }

    10% {
      transform: translateY(0);
    }

    30% {
      transform: translateY(40px);
    }

    50% {
      transform: translateY(0);
    }

    57% {
      transform: translateY(5px);
    }

    64% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(0);
    }
  }

  .wallets-container {
    margin-top: 20px;

    .wallet-wrapper {
      ion-item-sliding:last-child {
        padding-bottom: 0rem;
        margin-bottom: 0rem;
      }
    }

    .section-header {
      margin-top: 20px;
      margin-bottom: 18px;
    }
  }

  .collapse {
    white-space: nowrap;
    .legacy-tag {
      color: color($colors, light-grey);
      text-transform: uppercase;
      font-size: 12px;
    }
    .collapse-btn {
      cursor: pointer;
      background: #f6f6f7;
      padding: 0.2rem;
      border-radius: 50px;
      margin-top: 0px;
      margin-left: 8px;
      ion-icon {
        color: color($colors, light-grey);
        width: 18px;
        text-align: center;
        vertical-align: text-bottom;
      }
    }
  }

  .collapsed {
    height: 2px;
    border-bottom: 1px #eae9e9 solid;
    margin: 0 2.6rem 2rem 2.6rem;

    .item-wrapper {
      height: 0;
      padding: 0!important;
    }
    .wallet-wrapper ion-item-sliding:last-child {
      padding-bottom: 0;
    }
  }
  ion-item-sliding.item-wrapper {
    background: none;
    padding-left: 0%!important;
    padding-right: 0%!important;
}
  .sliding-container {
    height: auto;

    .wallet-wrapper:first-child .item.item-block {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    .wallet-wrapper:last-child .item.item-block {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;

      .item-inner {
        border: 0;
      }
    }

    button.item {
      &.activated {
        background-color: $feather;
      }
    }

    .item-inner {
      text-align: right;
      margin: 0 2px 0 0;
    }

    .action {
      &.button.button-default {
        padding: 0;
      }

      &--receive {
        // background-color: #edf7f9;
        background: linear-gradient(45deg, #39b3fa, #7431f6);

        &.activated,
        &:hover:not(.disable-hover) {
          background-color: #e8f4f7;
        }
      }

      &--send {
        //background-color: #eff1fe;
        background: linear-gradient(45deg, #fa6e39, #f6b231);

        &.activated,
        &:hover:not(.disable-hover) {
          background-color: #e9ebf9;
        }
      }
      &--settings {
        //background-color: #eff1fe;
        background: linear-gradient(45deg, #009688, #4CAF50);

        &.activated,
        &:hover:not(.disable-hover) {
          background-color: #e9ebf9;
        }
      }
      &--qr {
        //background-color: #eff1fe;
        background: linear-gradient(45deg, #bb41fa, #d4199a);

        &.activated,
        &:hover:not(.disable-hover) {
          background-color: #e9ebf9;
        }
      }
      
     

      &__icon {
        img {
          height: 35px;
        }
      }

      &__text {
        color: #434d59;
        font-size: 14px;
        font-weight: 500;
        margin-top: 3px;
      }
    }

    &.wallets {
      button.item.item-block {
        div.item-inner {
          display: flex;
          align-items: center;
        }
      }
    }

    ion-reorder {
      flex-basis: 60px;
      margin-left: 3px;

      ion-icon {
        margin-bottom: 2px;
      }
    }

    label-tip {
      margin-top: 12px;
      width: calc(92% - 10px);
      left: calc(4% + 5px);
    }
  }

  .bar-button-default-ios:hover:not(.disable-hover), .bar-button-default.bar-button-ios-default:hover:not(.disable-hover), .bar-button-clear-ios-default:hover:not(.disable-hover) {
    color: #e0774e;
}
.zeroOpacity{
  opacity:0;
}
.card.clipboard-card .item-divider{
  border-radius: 10px 10px 0 0;
  text-align: center;
  margin-bottom: 0!important;
}
button.clipboard.item.item-block.item-ios{border-radius: 0 0 10px 10px; width: 95%; margin: 0 auto; display: block;}

}.qrPop .popover-content{
  width:300px!important;
}