page-addressbook-view {
  .contact-view-header {
    position: relative;
    height: 70px;
    background-color: $toolbar-background;
    padding-top: 20px;
    margin-bottom: 50px;
    text-align: center;
    .gravatar {
      display: inline-block;
      background: #FFF; border-radius: 50px;
    }
  }
  .btn-send {
    color: color($colors, primary);
  }
  .btn-remove {
    color: color($colors, danger);
  }
  .comment {
    color: color($colors, grey);
    padding-top: 10px;
  }
  ion-header.header.header-ios,
  ion-header.header.header-md {
    background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(#f79421),
      to(#fac239)
    );
    padding: 10px 0;
  }
  .toolbar-background-md {
    border-color: #b2b2b2;
    background: transparent;
  }
}
