.theme-dark{
   ion-content{
    background:#161b26;
  }

  ionic-selectable-modal{
    ion-content{
      background:#161b26;
    }
  }
 
  .scroll-content{
    background:#161b26!important;
    color: #FFF!important;
  }
  page-scan {.scroll-content{
    background:transparent!important;
    
  }}
  
  .tabs-md .tabbar, .tabs-ios .tabbar {
    background: #161b26!important;
    border-top: 1px solid #000!important;
}

page-transfer-to-modal, page-transfer-to, page-custom-amount, page-wallet-tabs, page-wallet-details, page-send, page-receive, page-amount{
  .history-wrapper,  
  .content-ios, ion-content, .scroll-content, .receive-content, .qr-container,  .qr-container .lines-background, .scroll-content .wrapper, .send-header-wrapper{
    background:#161b26;
    color: #FFF;
  
  }
.send-header-wrapper{ box-shadow: none; border-bottom: 1px solid #000;}
  .prompt-user .subtitle-info, .prompt-user .title-info {
    color: #FFF!important;
}

 .history-wrapper{margin-top: 0;}
 .box-notification.warning{
  background: #161b26!important;
  border-bottom: 1px solid #000!important;
 }
}

page-multi-send, page-send{
  .card{background-color: transparent;
    border: 1px solid #000;
    border-radius: 5px;}
  .card .item-divider{background: transparent;}
  .card  ion-item-divider ion-label.label{text-align:center;}
}

page-custom-amount .qr-container .qr-card .qr-card-amount{color:#000!important}


$alert-md-background-color:#161b26;
$alert-ios--background:#161b26;

  .tabs-ios .tab-button-icon{color:#FFF;}

  .item-inner, .item-block{border-color: #000!important}
  .market-table li, .item-ios p,.item-block{color: #FFF!important;}

  .searchbar-ios .searchbar-input {
    color: #FFF;
    background-color: transparent;
    border: 1px solid #FFF;
  }

  .searchbar-ios .searchbar-search-icon {
    left: 9px;
    top: 9px;
    background-image:url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2013%2013'><path%20fill='rgba(255,%20255,%20255,%200.5)'%20d='M5,1c2.2,0,4,1.8,4,4S7.2,9,5,9S1,7.2,1,5S2.8,1,5,1%20M5,0C2.2,0,0,2.2,0,5s2.2,5,5,5s5-2.2,5-5S7.8,0,5,0%20L5,0z'/><line%20stroke='rgba(255,%20255,%20255,%200.5)'%20stroke-miterlimit='10'%20x1='12.6'%20y1='12.6'%20x2='8.2'%20y2='8.2'/></svg>");
  }

  .searchbar-ios {
    padding: 16px 8px;
    min-height: 44px;
    border-top: 0.55px solid transparent;
    border-bottom: 0.55px solid rgba(0, 0, 0, 0.05);
    background: #161b26;
}

  ::-webkit-input-placeholder {
    color: #FFF !important;
    }
    *:-moz-placeholder {
    color: #FFF!important;
    }
    *:-ms-input-placeholder {
    color: #FFF!important;
    }
    
    input::-webkit-input-placeholder {
    color:#FFF;
    }
  

  
  .select-ios {
    
    border: 1px solid #FFF;
   
  }
  
  .select-text{color:#FFF}
  .settings-list .item {
    border-bottom: 0.55px solid #000;}
  
    .list-ios ion-item-sliding, .item-ios{background: transparent; color: #fff}
    .label-ios{ color:#FFF}
    .item-ios ion-icon[item-left], .item-ios ion-icon[item-right], .item-ios ion-icon[item-start], .item-ios ion-icon[item-end]{color:#fff}

    ion-item-divider ion-label.label {
      color: #f1b72b;}

      page-home .scroll-content {
        /* background: #fff !important; */
        margin-bottom: 47px !important;}

        page-select-currency ion-icon.icon.icon-ios.item-icon img{border-radius: 30px; background: #fff; padding: 5px;}

        .item-block.item-ios.activated { background: #000!important;}

        .alert-ios .alert-wrapper{
    background-color: #161b26!important;
  }
  .alert-ios .alert-title, .alert-ios .alert-radio-label{color:#FFF;}
  .searchbar-ios .searchbar-clear-icon {
   
    background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20512%20512'><path%20fill='rgba(255,%20255,%20255,%200.5)'%20d='M403.1,108.9c-81.2-81.2-212.9-81.2-294.2,0s-81.2,212.9,0,294.2c81.2,81.2,212.9,81.2,294.2,0S484.3,190.1,403.1,108.9z%20M352,340.2L340.2,352l-84.4-84.2l-84,83.8L160,339.8l84-83.8l-84-83.8l11.8-11.8l84,83.8l84.4-84.2l11.8,11.8L267.6,256L352,340.2z'/></svg>");
  }

   .footer-container .label-ios{ color: rgb(10, 10, 10);}

   page-wallet-tabs{
    .tabbar.show-tabbar{
      background: #fac239!important;
    }
  }
  .select-ios .select-icon .select-icon-inner{color: #FFF;}

  img.darkinvert{filter: invert(1);}
}