page-wallet-show-qr {
  .qr-card {width: 100%!important}
  .qr-container {
    height: 100%;
    position: relative;
    background: transparent!important;
    .qr-card-amount {
      text-align: center;
      margin-bottom: -10px;
      margin-top: 15px;
      font-size: 1.8rem;
      font-weight: bold;
      color:#000;
      text-transform: uppercase;
      small {
        font-weight: normal;
      }
    }
    .card {
      z-index: 1;
      position: relative;
    }
    .lines-background {
      background: transparent!important;
      opacity: 0.1;
      background-size: cover;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    .qr-card {
      @media (max-height: 530px) {
        width: 1000%;
      }
    }
  }
}
