<div class="card" *ngIf="filteredContactsList && filteredContactsList[0]">
    <ion-item-divider>
      <span class="title" translate>Transfer to Contact</span>
    </ion-item-divider>
    <ion-list>
      <button ion-item *ngFor="let item of filteredContactsList" (click)="close(item)">
        <ion-icon class="item-img" item-start>
          <gravatar [name]="item.name" [width]="35" [height]="35" [email]="item.email"></gravatar>
        </ion-icon>
        <div class="item-title">{{item.name}}</div>
      </button>
      <button ion-item class="show-more" *ngIf="contactsShowMore" (click)="showMore()">
        <span translate>Show all</span>
      </button>
    </ion-list>
  </div>
  
  <div class="card" *ngIf="walletBcdList && walletBcdList[0] && walletBcdList.length >1">
      <ion-item-divider class="title">
        <span translate>Transfer to Bitcoin Diamond Wallet</span>
      </ion-item-divider>
    
      <ion-list>
        <ng-container  *ngFor="let walletT of filteredWallets[0] ? filteredWallets : walletBcdList">
        <button *ngIf="wallet.name !== walletT.name" ion-item class="button-item" (click)="close(walletT)">
          <img [ngClass]="{ testnet: walletT.network === 'testnet' }" src="assets/img/currencies/{{walletT.coin}}.svg" class="icon-wallet" />
          <span class="item-title">{{walletT.name}}</span>
          <ion-note class="wallet-warning" *ngIf="!walletT.isComplete" item-end>
            {{'Incomplete' | translate}}
          </ion-note>
          <ion-note class="wallet-warning" *ngIf="walletT.isComplete && walletT.needsBackup" item-end>
            {{'Needs Backup' | translate}}
          </ion-note>
          <ion-note *ngIf="walletT.m > 1 && walletT.isComplete && !walletT.needsBackup" item-end>
            {{walletT.m}}-{{walletT.n}}
          </ion-note>
        </button>
      </ng-container>
      </ion-list>
    </div>

  <div class="card" *ngIf="walletBtcList && walletBtcList[0] && walletBtcList.length > 1">
    <ion-item-divider class="title">
      <span translate>Transfer to Bitcoin Wallet</span>
    </ion-item-divider>
  
    <ion-list>
        <ng-container  *ngFor="let walletT of filteredWallets[0] ? filteredWallets : walletBtcList">
      <button  *ngIf="wallet.name !== walletT.name" ion-item class="button-item"  (click)="close(walletT)" [ngClass]="{'wallet-disabled': !walletT.isComplete || walletT.needsBackup}">
        <img [ngClass]="{ testnet: walletT.network === 'testnet' }" src="assets/img/currencies/{{walletT.coin}}.svg" class="icon-wallet" />
        <span class="item-title">{{walletT.name}}</span>
        <ion-note class="wallet-warning" *ngIf="!walletT.isComplete" item-end>
          {{'Incomplete' | translate}}
        </ion-note>
        <ion-note class="wallet-warning" *ngIf="walletT.isComplete && walletT.needsBackup" item-end>
          {{'Needs Backup' | translate}}
        </ion-note>
        <ion-note *ngIf="walletT.m > 1 && walletT.isComplete && !walletT.needsBackup" item-end>
          {{walletT.m}}-{{walletT.n}}
        </ion-note>
      </button>
      </ng-container>
    </ion-list>
  </div>
  
  <div class="card" *ngIf="walletEthList && walletEthList[0] && walletEthList.length > 1">
    <ion-item-divider class="title">
      <span translate>Transfer to Ethereum Wallet</span>
    </ion-item-divider>
  
    <ion-list>
        <ng-container *ngFor="let walletT of filteredWallets[0] ? filteredWallets : walletEthList">
          <button  *ngIf="wallet.name !== walletT.name" ion-item class="button-item" (click)="close(walletT)" [ngClass]="{'wallet-disabled': !walletT.isComplete || walletT.needsBackup}">
        <img [ngClass]="{ testnet: walletT.network === 'testnet' }" src="assets/img/currencies/{{walletT.coin}}.svg" class="icon-wallet" />
        <span class="item-title">{{ walletT.name }}</span>
        <ion-note class="wallet-warning" *ngIf="!walletT.isComplete" item-end>
          {{ 'Incomplete' | translate }}
        </ion-note>
        <ion-note class="wallet-warning" *ngIf="walletT.isComplete && walletT.needsBackup" item-end>
          {{ 'Needs Backup' | translate }}
        </ion-note>
        <ion-note *ngIf="walletT.m > 1 && walletT.isComplete && !walletT.needsBackup" item-end>
          {{ walletT.m }}-{{ walletT.n }}
        </ion-note>
      </button>
      </ng-container>
    </ion-list>
  </div>
  
  <div class="card" *ngIf="walletBchList && walletBchList[0]">
    <ion-item-divider class="title">
      <span translate>Transfer to Bitcoin Cash Wallet</span>
    </ion-item-divider>
  
    <ion-list>
      <ng-container  *ngFor="let walletT of filteredWallets[0] ? filteredWallets : walletBchList">
      <button *ngIf="wallet.name !== walletT.name"  ion-item class="button-item" (click)="close(walletT)">
        <img [ngClass]="{ testnet: walletT.network === 'testnet' }" src="assets/img/currencies/{{walletT.coin}}.svg" class="icon-wallet" />
        <span class="item-title">{{walletT.name}}</span>
        <ion-note class="wallet-warning" *ngIf="!walletT.isComplete" item-end>
          {{'Incomplete' | translate}}
        </ion-note>
        <ion-note class="wallet-warning" *ngIf="walletT.isComplete && walletT.needsBackup" item-end>
          {{'Needs Backup' | translate}}
        </ion-note>
        <ion-note *ngIf="walletT.m > 1 && walletT.isComplete && !walletT.needsBackup" item-end>
          {{walletT.m}}-{{walletT.n}}
        </ion-note>
      </button>
    </ng-container>
    </ion-list>
  </div>