@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

body{
  background: #161B26; 
      overflow-x: hidden;
  color: #FFF!important;}
  html{ overflow-x: hidden;}
    .speedsvg{display: block;
  }

max-width: 100%;

position: relative;
    }

   .speedsvg svg{display: block;
max-width: 100%;

margin: 0 auto!important;
margin-left:10px!important;}

.rang {
  text-align: center;
}

.rang-title {
  display: inline-block;
  width: 200px;
}

.rang-number {
  width: 100%;
  margin-top: 40px;
  text-align: center;
  border-width: 0;
  font-size: 50px;
  font-weight: 900;
  background-color: #faf9f7;
  color: #0093d7;
}

.rang-slider[type=range] {
  width: 400px;
  margin-top: 40px;
  -webkit-appearance: none;
}

.rang-slider[type=range]:focus {
  outline: none;
}

.rang-slider[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 20px;
  border-radius: 25px;
  background: #0093d7;
  cursor: pointer;
}

.rang-slider[type=range]::-webkit-slider-thumb {
  width: 50px;
  height: 20px;
  margin-top: 0;
  border-radius: 25px;
  background: #ffc815;
  -webkit-appearance: none;
  cursor: pointer;
}

.rang-slider[type=range]:focus::-webkit-slider-runnable-track {
  background: #a3cd3b;
}



.meter-left {
  -webkit-transform: skewX(-2deg) skewY(1deg);
          transform: skewX(-2deg) skewY(1deg);
  stroke-width: 58;
  stroke-dashoffset: 253;
  stroke-dasharray: 120 400;
  stroke: #ffc815;
  fill: none;
}

.meter-center {
  stroke-width: 56;
  stroke-dashoffset: 128;
  stroke-dasharray: 120 400;
  stroke: #a3cd3b;
  fill: none;
}

.meter-right {
  -webkit-transform: skewX(2deg) skewY(1deg);
          transform: skewX(2deg) skewY(1deg);
  stroke-width: 58;
  stroke-dashoffset: 5;
  stroke-dasharray: 120 400;
  stroke: #0093d7;
  fill: none;
}

.meter-clock {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transform-origin: 165px 140px;
          transform-origin: 165px 140px;
  fill: black;
  transition: 0.3s ease!important;
}

.meter-circle {
  fill: black;
}




.cls-2d{font-size: 2em;

font-family: Montserrat-SemiBold, Montserrat;

font-weight: 600;

margin-top: 1em !important;}

/* SVG STYLES */
  .cls-1 {
        fill: rgba(255,255,255,0.2);
      }

      .cls-1, .cls-2, .cls-3 {
        stroke: rgba(0,0,0,0);
        font-family: Montserrat-SemiBold, Montserrat;
        font-weight: 600;
      }

      .cls-1, .cls-3 {
        font-size: 9px;
      }

      .cls-2, .cls-6 {
        fill: #8acf20;
      }

      .cls-2 {
        font-size: 16px;
      }

      .cls-10, .cls-3 {
        fill: #fff;
      }

      .cls-4 {
        fill: #e8a2b3;
      }

      .cls-5 {
        fill: #e2446a;
      }

      .cls-7 {
        fill: #16ac0c;
      }

      .cls-8 {
        fill: #cecece;
      }

      .cls-9 {
        fill: none;
        stroke: #fff;
        stroke-linecap: round;
        stroke-width: 3px;
      }
            .cls-9a {
        fill: none;
        stroke: #e2446a;
        stroke-linecap: round;
        stroke-width: 2px;
      }

      .meter-clock2 {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 188px 341px;
    transform-origin: 188px 341px;
    fill: #e2446a;
    transition: 1s ease!important;

}

p.timerange {
    color: #FFF;
    font-family: Montserrat;
    font-weight: 500;
    text-align: center;
    margin: 15px auto;
    font-size: 9px;
}

h1.outlookmeter {
    text-align: center;
    font-family: Montserrat;
    font-weight: 700;
    margin: 40px 0 0;
    font-size: 25px; 
}

p.outlookmetertime {
    text-align: center;
    font-family: Montserrat;
    font-weight: 300;
    margin: 10px 0 40px;
    font-size: 11px; 
}

.topbar {
    display: block;
    width: 100%;
    border-bottom: 2px solid #000;  
    padding: 0 0 10px;
}

.tobbarleft, .tobbarright {
    display: inline-block;
  width: 49%;
    text-align: center;
}
.tobbarleft h1, .tobbarright h1 {
      text-align: center;
    font-family: Montserrat;
    font-weight: 700;
}
.tobbarleft p, .tobbarright p {
  color: #FFF;
    font-family: Montserrat;
    font-weight: 300;
    text-align: center;
}

ul.links {
      width: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;padding: 0 5px!important;
}

ul.links li {
     display: inline-block;
    border: 1px solid #FFF;
    padding: 5px 7px;
    margin: 0px 3px 10px;
    border-radius: 8px;
}
ul.links li:hover { background: #FFF;}
ul.links li:hover a{ color:#161B26; text-decoration: none;}
ul.links li a{  color:#FFF; font-family: 'Montserrat', sans-serif; font-weight: 500; font-size: 12px;}


table.outlooktable {
    width: 90%;
    margin: 40px auto 0;
    font-family: Montserrat;
}

table.outlooktable td {
    font-size: 12px;
    padding: 10px 0;
font-weight: 300;
}
table.outlooktable tr td:nth-of-type(2n){
  font-weight: 500; text-align: right;font-size: 12px;
}
.big {display:inline-block; font-weight: 500; font-size: 14px;margin: 0 10px;}
.small {display:inline-block; font-weight: 500; font-size: 10px;margin: 0 10px;}
.whiteblock{ 
    margin-top: 30px;
    padding-top: 10px;
   /* padding-bottom: 10px;*/
    padding-bottom: 55px;
    display: block;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
    background: #FFF;
}

    .pwr{ text-align: center; font-family: Montserrat; font-size: 9px;
    color: #FFF; display: inline-block; line-height: 38px;}
    .whiteblock p.first { text-align: center; font-family: Montserrat; font-size: 30px;
    color: #2D3340;}

.whiteblock img{width: 100px;}

     p.first { text-align: center; font-family: Montserrat; font-size: 30px;
    color: #2D3340; margin: 0px auto 80px;}
    
p.first img{width: 100px;margin: 0 0 -12px 0px;}

.whiteblock p.second { text-align: center; font-family: Montserrat; font-size: 11px;
    color: #2D3340;}
 .whiteblock   .get{ font-weight: 800;  }
 .whiteblock .ref{     font-family: Montserrat;
    font-size: 12px;
    color: #2D3340;
    transition: 0.3s ease;
    border: 1px solid #2D3340;
    border-radius: 50px;
    padding: 5px 20px;
    display: table;
    margin: 20px auto;
    font-weight: 500; }

  .whiteblock .ref:hover{ background: #2D3340; color: #FFF; text-decoration: none!important; }
  .curscore{color:#FFF; font-family: Montserrat;fill: #FFF;
    font-size: 9px; text-align: center;}
    .curscoresc{color:#FFF; font-family: Montserrat;fill: #FFF;
    font-size: 10px; font-weight: 800;  text-align: center;}


    h2.prevcore {
    font-family: Montserrat;
    font-size: 14px;
  /* margin-left: -35px;*/
    line-height: 14px;text-align: center;    margin: 5px auto;
}

h2.prevscoresc {
    font-family: Montserrat;
    font-size: 24px;
   /* margin-left: -25px;*/
    line-height: 18px;
    font-weight: 800;text-align: center;    margin: 5px auto 20px;
}

h2.prevscorescs {
    font-family: Montserrat;
    font-size: 18px;
   /* margin-left: -25px;*/
    line-height: 26px;
    font-weight: 300;text-align: center;    margin: 5px auto 20px;
}


.scorearrow{
  fill: green;
   font-size: 18px; font-weight: 800; 
       transform-origin: 185px 58px;
       transition: ease 0.5s;
}
.topblock h1{text-align: center;  
    font-family: Montserrat;
    font-weight: 700;}
.topblock p{text-align: center;color: #FFF;
    font-family: Montserrat;
    font-weight: 300;
    text-align: center;}
 i#curscc{transition: ease 0.5s; font-size:22px;}

/*li.ng-scope:focus-within, li.ng-scope:focus-within a {
    background: #FFF;
    color: #000; text-decoration: none!important;
}*/
.col5{display:inline-block; width:50%; float:left;}
.col10{display: block; width: 80%; margin: 0 auto;}






/* Style the tab */
.tab {
  overflow: hidden;
  border: none;
 background: linear-gradient(to top, #F79421, #FAC239);
     padding: 20px 0 20px;text-align: center;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
     border: 2px solid #161b26;
    font-size: 16px;
 margin-right:-2px;
 margin-left:-2px;
  outline: none;
  cursor: pointer;
  padding: 5px 16px;
  transition: 0.3s;
 width: 110px;
 font-family: Montserrat; color: #161b23; font-weight: 800;
}
.tab button:first-of-type{
  border-right:none;
  border-radius: 8px 0px 0px 8px;
}
.tab button:nth-of-type(2){
  border-radius: 0px 8px 8px 0px;
  border-left:none;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #161b26;color: #FFF;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: none;
  border-top: none;animation: fadeEffect 1s;
}

.topblock h1{ font-size:24px; }



.table-striped > tbody > tr:nth-of-type(odd){background: transparent;}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border:none!important; font-family: Montserrat!important;
}
tr.currentfib {
    background: #1F2430;
}
tr.currentfib td{ font-size: 13px ; font-weight: 600 }
.currentfibtext{color:#676D78;}
.fbncblock {
    margin-bottom: 20px;
    border-bottom: 2px solid #000;padding-bottom: 20px;
}
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.coinname{color: #FFF;font-family: Montserrat; font-size: 15px; margin:0!important; text-align:left;margin-top: 5px!important;padding-top:5px;}

 

.coinnamesub{font-family: Montserrat; font-size: 12px;margin:0!important;text-align:left;}

.coinlogo {
    display: block;
    width: 42px;
    background: #FFF;
    height: 42px;
float:left;margin-right: 15px;border-radius: 30px;border: 1px solid #FFF;box-shadow: 0 3px 10px rgba(0,0,0,0.16);
}
.coinlogo img {
    max-width: 40px;    border-radius: 30px;  
 max-height: 40px;padding: 5px;
}
.menuback{color:#000;    font-size: 20px;
    line-height: 40px; float:left; margin: 0 20px;}

.headerblock {
    display: block;
    width: 100%;
    margin: 0px auto 15px;
    position: relative;
}

[data-tooltip] {
    display: inline-block;
    position: relative;
    cursor: help;
    padding: 4px 0;
}
/* Tooltip styling */
[data-tooltip]:before {
    content: attr(data-tooltip);
    display: none;
    position: absolute;
    background: #FFF;
    color: #000;
    padding: 4px 8px;
    font-size: 14px;
    line-height: 1.4;
    min-width: 300px;
    text-align: center;
    border-radius: 4px; box-shadow: 0 0 11px rgba(0,0,0,0.5);
}
/* Dynamic horizontal centering */
[data-tooltip-position="top"]:before,
[data-tooltip-position="bottom"]:before {
    left: 50%;
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
/* Dynamic vertical centering */
[data-tooltip-position="right"]:before,
[data-tooltip-position="left"]:before {
    top: 50%;
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
[data-tooltip-position="top"]:before {
    bottom: 100%;
    margin-bottom: 6px;
}
[data-tooltip-position="right"]:before {
    left: 100%;
    margin-left: 6px;
}
[data-tooltip-position="bottom"]:before {
    top: 100%;
    margin-top: 6px;
}
[data-tooltip-position="left"]:before {
    right: 100%;
    margin-right: 6px;
}

/* Tooltip arrow styling/placement */
[data-tooltip]:after {
    content: '';
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
/* Dynamic horizontal centering for the tooltip */
[data-tooltip-position="top"]:after,
[data-tooltip-position="bottom"]:after {
    left: 50%;
    margin-left: -6px;
}
/* Dynamic vertical centering for the tooltip */
[data-tooltip-position="right"]:after,
[data-tooltip-position="left"]:after {
    top: 50%;
    margin-top: -6px;
}
[data-tooltip-position="top"]:after {
    bottom: 100%;
    border-width: 6px 6px 0;
    border-top-color: #000;
}
[data-tooltip-position="right"]:after {
    left: 100%;
    border-width: 6px 6px 6px 0;
    border-right-color: #FFF;
}
[data-tooltip-position="bottom"]:after {
    top: 100%;
    border-width: 0 6px 6px;
    border-bottom-color: #000;
}
[data-tooltip-position="left"]:after {
    right: 100%;
    border-width: 6px 0 6px 6px;
    border-left-color: #000;
}
/* Show the tooltip when hovering */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    display: block;
    z-index: 50;
}

/*MODAL BOX*/
.modal .modal--close {
  
    border-radius: 3px;
    
    float: right;
  
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    transition: .2s;
    width: 30px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.modal .modal--close:hover {
    background-color: #222222;
    color: #ffffff;
}

.modal {
    background: rgba(0, 0, 0, .93);
    border: 0;
    bottom: 0;
    display: table;
    left: 0;
    height: 100%;
    opacity: 0;
    padding: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: .2s .5s;
    width: 100%;
    z-index: -9999;
}

.modal:target {
    outline: 0;
    opacity: 1;
    transition: .2s .2s;
    z-index: 9999;
}

.modal #modal--content {
    transform: translateY(-200%);
    transition: transform .5s 0s;
}

.modal:target #modal--content {
    transform: translateY(0%);
    transition: transform .2s .5s;
}

.modal > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.modal #modal--content {
    background: transparent; 
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .6);
    display: inline-block;
    max-width: 90%;
    padding: 5em 0 0;
    text-align: center; color: #FFF;
    font-family: Montserrat; 
}

.get-modal{font-weight: 800;}
.modalbutton{  transition: 0.5s ease; font-family: montserrat; color:#FFF; text-align: center; display: table; background:#000; border: 2px solid #FFF; padding: 10px 20px; font-weight: 800;margin: 10px auto; width:90%; border-radius: 30px; }
.modal--close-bottom{   transition: 0.5s ease;    font-family: montserrat; color:#FFF; text-align: center; display: table; background:#3B3B3B; padding: 10px 20px; margin: 10px auto; width:50%; border-radius: 30px; margin-top: 130px;}
.modalbutton:hover{background: #FFF; color:#000; text-decoration: none}
.modal--close-bottom:hover{background: #FFF;color:#000;text-decoration: none}
a.modal--close {
    position: absolute;
    right: 5%;
    top: 5%;
    color: #FFF;    font-size: 30px;
}

#bout, #bdwn, #swing, #swing2, #pricezoneproctext, #pricezoneproctext2 { transition: 0.3s ease; }

table.table.table-hover.table-striped{font-size:11px;}
table.table.table-hover.table-striped tr td:first-of-type{width:20%; text-align: center;}
tr.currentfib td{vertical-align: middle!important;text-align: center; }


.footermenu {
    background: #FFF;
    width: 101%;
    position: fixed;
    bottom: -2px;
    box-shadow: 0 0 9px rgba(0,0,0,0.16);
    color: #000; font-family: Montserrat;
    /*z-index: 999;*/
}

ul.bottom-menu {
    list-style: none;
display: flex;
  justify-content: space-between; 
  padding-inline-start: 0px;
  padding-left: 0px;    padding-top: 20px;
    padding-bottom: 30px;
}
ul.bottom-menu li {
    margin: 0 13px;
}
.wallet-icon{ display: block; margin: 3px auto; width: 19px; height:19px; background: url(../images/wallet-icon.png) no-repeat; background-size: cover; }
.market-icon{ display: block; margin: 3px auto; width: 19px; height:19px; background: url(../images/market-icon.png) no-repeat; background-size: cover; }
.invest-icon{ display: block; margin: 3px auto; width: 19px; height:19px; background: url(../images/invest-icon.png) no-repeat; background-size: cover; }
.apps-icon{ display: block; margin: 3px auto; width: 19px; height:19px; background: url(../images/apps-icon.png) no-repeat; background-size: cover; }
.settings-icon{ display: block; margin: 3px auto; width: 19px; height:19px; background: url(../images/settings-icon.png) no-repeat; background-size: cover; }

.market-active{background: url(../images/market-active.png) no-repeat;}

ul.bottom-menu li a {color: #2D3340; font-weight: 500; text-decoration: none!important;    font-size: 9px;}
ul.bottom-menu li a:hover{color:#FFA70F;} 
ul.bottom-menu li a.mactive{color:#FFA70F;}

.tabtitle{color:#FFF; font-family: Montserrat; font-weight: 500; font-size: 20px; margin:0 auto;}
.market-top-icon{ display: inline-block; width: 30px; height:30px; background: url(../images/market-top.png) no-repeat; background-size: cover;    margin-bottom: -8px; margin-right: 5px; }

.mainframe{background: #FFF}
.searchbox {
    background: #F3F3F3;
    padding: 15px;
}
.searchinput{
  border-radius: 9px; 
  width:100%;
  border: none;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  height: 38px;
background: #FFF url('../images/search-icon.png') no-repeat;
background-size:  16px 16px;
padding-left: 30px;
    background-position: 10px 10px; color:#000; font-family: Montserrat;
}
.searchinput:focus{outline: none;}
.searchinput::-webkit-input-placeholder { 
  color: #A4A4A4;
  font-style: italic;
  font-weight: 500; font-family: Montserrat;
}
table.market-table {
    width: 100%;
    color: #2D3340;font-family: Montserrat;font-size: 16px;
}
table.market-table thead  {
   box-shadow: 0 5px 6px rgba(0,0,0,0.05);
}
table.market-table thead th{
  padding: 20px 0px;
  font-size: 16px; font-weight: 600; 
}
table.market-table thead th:nth-of-type(2){font-weight: 800;}
table.market-table thead th:nth-of-type(1){ padding-left: 20px;}
table.market-table thead th:nth-of-type(3){ padding-right: 20px;}
table.market-table tbody td{font-size:16px; padding: 20px 0; font-weight: 500; }
table.market-table tbody td:nth-of-type(1)  { padding-left: 20px; width: 20px; color:#CECECE ;}
table.market-table tbody td:nth-of-type(4)  { padding-right: 20px;}

.tablenum{font-family: Montserrat;color:#CECECE;  font-size: 16px; padding-left: 0px; padding-right: 20px;     margin-left: 40px;}
.tablenum li{padding-top: 10px; padding-bottom: 10px; }
.market-coinprice{display: inline-block; color:#000;}
ul.market-table {
    display: flex;
    justify-content: space-between;
    list-style: none;   
    padding-left: 10px;
    padding-right: 20px;
    font-family: Montserrat;color:#000; 
    font-size: 16px;transition: 0.5s ease;    margin-bottom: 0px; height: 53px;
}
.num-market{color: #CECECE;
    font-size: 16px;
    display: inline-block;
    float: left;
    padding-left: 20px;
    padding-top: 17px!important;
    padding-bottom: 10px!important;
    height: 53px; transition: 0.5s ease;line-height: 18px;
    width: 45px;
  }


  
  .num-market span, ul.market-table li {line-height: 18px;}
.market-table li{padding-top:17px!important; padding-bottom: 0px!important;}
.market-table li span{margin: 0 0;}
a.market-link{color:#000;}
.market-coinlogoblock {
    height: 53px;
    display: inline-block;
    float: left;transition: 0.5s ease;
}

a.market-link:hover ul, a.market-link:hover .num-market,a.market-link:hover,   a.market-link:hover .market-coinlogoblock {background: #f9eacc; text-decoration: none!important;}
a.market-link:focus ul, a.market-link:focus .num-market,a.market-link:focus,  a.market-link:focus .market-coinlogoblock{background: #f9eacc; text-decoration: none!important;}

a.very-bearish-btn {
    border: 1px solid #E2446A;
    border-radius: 30px;
    color: #E2446A;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    display: block;
    padding: 3px 8px; transition: 0.5s ease;
}
.subtextbtn {
    display: block;
    margin: 0 auto;
    font-size: 8px;
    font-weight: 300;    line-height: 8px;
}

.bearish-btn {
    border: 1px solid #E8A2B3;
    border-radius: 30px;
    color: #E8A2B3;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    display: block;
    padding: 3px 8px; transition: 0.5s ease;width: 90px;
    float: right;     line-height: 13px;
}
.stable-btn {
    border: 1px solid #2D3340;
    border-radius: 30px;
    color: #2D3340;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    display: block;
    padding: 3px 8px; transition: 0.5s ease;width: 90px;
    float: right;     line-height: 13px;
}
.bullish-btn {
    border: 1px solid #8ACF20;
    border-radius: 30px;
    color: #8ACF20;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    display: block;
    padding: 3px 8px; transition: 0.5s ease;width: 90px;
    float: right;     line-height: 13px;
}
.very-bullish-btn {
    border: 1px solid #16AC0C;
    border-radius: 30px;
    color: #16AC0C;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    display: block;
    padding: 3px 8px; transition: 0.5s ease;width: 90px;
    float: right;     line-height: 13px;
}

.very-bearish-btn:hover{background:#E2446A;color:#FFF;text-decoration: none; }
.bearish-btn:hover{background:#E8A2B3;color:#FFF;text-decoration: none; }
.stable-btn:hover{background:#2D3340;color:#FFF;text-decoration: none; }
.bullish-btn:hover{background:#8ACF20;color:#FFF;text-decoration: none; }
.very-bullish-btn:hover{background:#16AC0C;color:#FFF;text-decoration: none; }

#TOP20{
    padding-left: 0px!important;
    font-weight: 600;
}
#TOP20 li:nth-of-type(2){
  font-weight: 800;
}
a.market-link[href='DataFeed.html?currencyId=1653'] {
    display: block;
    box-shadow: 0 6px 6px rgba(0,0,0,0.05);
}
.market-table li:nth-of-type(2) {
    margin-left: 20px;
    margin-right: 0px;
}

.bordergreen{ border-color: #8ACF20!important; }
.borderred{ border-color:#E8A2B3!important; }

/*.loader{position: absolute;
    background: rgba(0,0,0,0.97);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 998;opacity: 1; transition: 1s ease; display:none; }
.logoloader{position: absolute;
animation: load 2s infinite;
 left: 50%; top: 50%; transition: 1s ease; transform: translate(-50%, -50%);}


@keyframes load {
  0%   {opacity: 0.0;}
  10%   {opacity: 0.2;}
  20%   {opacity: 0.4;}
  30%   {opacity: 0.6;}
  40%   {opacity: 0.8;}
  50%   {opacity: 1;}
  60%   {opacity: 0.8;}
  70%   {opacity: 0.6;}
  80%   {opacity: 0.4;}
  90%   {opacity: 0.2;}
  100%   {opacity: 0;}

}*/

img[src='images/coins/{{p.BaseAsset}}.png'] {
    display: none;
}
.market-coinlogo{
width: 22px;
    height: 22px;
    background: #FFF;
    box-shadow: 0 3px 10px rgba(0,0,0,0.16);
    border-radius: 30px;
    float: left;
    text-align: center;
    margin-top: 14px;
    margin-left: 8px;
    }
.market-coinlogo img{        max-width: 20px;
    border-radius: 30px;
    max-height: 20px;
    padding: 2px;}

.market-coinlogo img[src='images/coins/TOP20.png'] {
    display: none;
}

a.market-link[href='DataFeed.html?currencyId=1653'] .market-coinlogo{display:none;}
div.coinblock:last-of-type {
    margin-bottom: 100px;
}

.coinnameblock {
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 200px;
}

.activelink{    background: #FFF!important; color: #000;}
.activelink a{  color: #161b26!important;}
.rangs {
    margin-right: -15px!important;
}
.recent {
    background: #424448!important;
}
.hidder{
  opacity: 0!important;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
.table-hover>tbody>tr:hover {
    background-color: #f9ae22;
}

#moretime{display: none;transition: 0.5s ease; font-family: Montserrat;}
#showmore{display: table; margin: 10px auto; color: #FFF;
    border: 1px solid #FFF;
    padding: 5px 7px; transition: 0.5s ease;
 
    border-radius: 8px; text-decoration: none!important}
    #showmore:hover{ background:#FFF; color: #000; }
    .showmore{ display: block!important; }
    .hider{display:none!important;}

 table.table.table-hover.table-striped  td.ng-binding:nth-of-type(4) {
    width: 80px;
    text-align: center;
}