page-send {
  .title {
    font-weight: 500;
    img {
      vertical-align: sub;
      margin-right: 5px;
    }
  }
  ion-header.header.header-ios,
  ion-header.header.header-md {
    padding: 0;
  }
  .no-wallet-message {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px;
  }
  .send-header-wrapper {
    padding: 10px;
    background-color: white;
    box-shadow: 0px 5px 10px 0px #cccccc;
  }
  .send-heading {
    font-size: 15px;
    padding: 0 0 16px 0;
    border: none;
    font-weight: 500;
  }
  .search-wrapper {
    margin-top: 15px;
    background-color: #f2f2f2;
    display: flex;
    align-items: baseline;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    .item-inner {
      align-items: center;
      margin-left: 0rem !important;
      border-bottom: 0px !important;
      box-shadow: none !important;
    }
    .scan-icon {
      margin: 0;
      padding: 0.6rem 1rem 1rem 1rem;
      z-index: 999;
    }
    .backspace-icon {
      z-index: 999;
    }
  }
  .invalid {
    border: 1px solid color($colors, error);
    color: color($colors, error);
    background-color: #fff6f7;
  }

  .qr-container {
    width: 255px;
    height: 255px;
    background: #fff !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    border-radius: 5px;
    border: 1px solid #444;
    padding: 10px;
  }

  .qr-container {
    border: none!important;
    img{
    width: 35%; border:1px solid #000; border-radius: 5px; padding: 5px;}
  }
  .toolbar-background-ios{
    background: #fac239!important;
  }
  .toolbar-title{ text-align:  center!important}
  .wallet-details-header__balance{margin-left: auto; text-align: center}

  .scan{z-index: 99}

  .bcdHead{
    background: linear-gradient(180deg, #1a202a 0%, #333B47) !important;
    .toolbar-background{
       background: #1A202A !important;
     }
     .balance-card{
       background: linear-gradient(180deg, #1a202a 0%, #333B47) !important
     }
    .address-container{
      background: #333B47!important;
    }
   }
   
   .btcHead{
    background: linear-gradient(180deg, #f2a900 0%, #da7e30) !important;
     .toolbar-background{
        background: #f2a900 !important;
      }
      .balance-card{
        background: linear-gradient(180deg, #f2a900 0%, #da7e30) !important;
       
       
      }
     .address-container{
       background: #da7e30!important;
     }
    }
    .ethHead{
      background: linear-gradient(180deg, #9a71ec 0%, #0051ca) !important;
      
     .toolbar-background{
        background: #9a71ec !important;
      }
      .balance-card{
       background: linear-gradient(180deg, #9a71ec 0%, #0051ca) !important;
       
       
      }
     .address-container{
       background: #0051ca!important;
     }
    }
    .wallet-details-header__balance-hidden.ng-star-inserted{
      text-align: center;
      margin-right: auto;
      margin-left: auto; text-transform: uppercase;
    }
}
